/*
 * Common styles for the UI
 */
a:link {
    color:#353535;
    text-decoration:none;
}
a:visited {
    color:#353535;
    text-decoration:none;
}
a:focus {
    color:#353535;
    text-decoration:none;
}
a:hover {
    color:#353535;
    text-decoration:none;
}
a:active {
    color:#353535;
    text-decoration:none;
}

/*
 * Global layout
 */
.title-bar {
    height:40px;
    background-color:#fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    color:#aaa;
    font-weight:normal;
}

.title-bar-name {
    margin-left:20px;
}

.title-bar-title {
    color:#666;
}




 .collections-container {
    position:relative;
    box-shadow: 3px 2px 6px #252525;
    height:205px;
    width:150px;
    margin-bottom:15px;
    margin-right:15px;
    display:inline-block;
    background-image: -webkit-linear-gradient(#fff, #fff);
    background-image: -moz-linear-gradient(#fff, #fff);
    background-image: -o-linear-gradient(#fff, #fff);
    background-image: linear-gradient(#fff, #fff);
 }

 .collection-title {
    padding-top:5px;
    padding-left:5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    color: #555;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

 .collection-subtitle {
    padding-top:5px;
    padding-left:5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #353535 !important;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

 .collection-thumbnail {
    border-bottom:1px solid #fa9600 !important;
 }

a img.collection-thumbnail:hover {
     /*opacity:0.4;*/
     -webkit-transition: all 0.5s;
     -webkit-filter: brightness(0.75);
}

 /**
  * Detail view
  */
 .collection-container {
    position:relative;
    box-shadow: 3px 2px 6px #252525;
    height:150px;
    width:150px;
    display:inline-block;
    background-image: -webkit-linear-gradient(#fff, #fff);
    background-image: -moz-linear-gradient(#fff, #fff);
    background-image: -o-linear-gradient(#fff, #fff);
    background-image: linear-gradient(#fff, #fff);
 }

 td, th {
    text-align:left;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    color:#353535;
    border-bottom:1px solid #ccc;
 }

.track {
    text-align:center;
}
.row-selected {
    background-color: #eee;
}

.row, .row-selected {
    height:40px;
}

.row:hover {
    background-color: #eee;
    cursor:pointer;
}

.row .track :hover {
    background-color: #444;
}

